@import "tailwindcss";

@source "../components/**/*.{js,ts,jsx,tsx}";
@source "../pages/**/*.{js,ts,jsx,tsx}";
@source "../app/**/*.{js,ts,jsx,tsx}";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-family-sans: Poppins, sans-serif;
  --grid-cols-70-30: 70% 28%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-family-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}