PROJECT_NAME="elegant-use-context-w-use-reducer-online-shop"

COMPOSE_PROJECT_NAME=${PROJECT_NAME}

UI_SERVICE_PORT=3000

APP_PROJECT_PATH="/frontend/apps/${COMPOSE_PROJECT_NAME}-app"

PROTOCOL="http"
DOMAIN="localhost"
