PROJECT_NAME="dj-events"

COMPOSE_PROJECT_NAME=${PROJECT_NAME}

SSR_PROJECT_PATH="/backend/services/ssr/${COMPOSE_PROJECT_NAME}-ssr-service"
PROXY_PROJECT_PATH="/backend/services/proxy/${COMPOSE_PROJECT_NAME}-proxy"

PORT=5000
