<section>
  <h2>Latest Leaderboard</h2>
  <table>
    <thead>
      <tr>
        <th>Rank</th>
        <th>User</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      {{#each leaderboard}}
        <tr>
          <td>{{rank}}</td>
          <td><a href="/users/{{userId}}">{{name}}</a></td>
          <td>{{score}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</section>
