PROJECT_NAME="hello-django"
COMPOSE_PROJECT_NAME=${PROJECT_NAME}

API_PROJECT_PATH="/backend/apis/${COMPOSE_PROJECT_NAME}-api"

# Database
DB_CLIENT=postgres
DB_HOST=postgresql_database
DB_PORT=localhost
DB_NAME=devdb
DB_USERNAME=devuser
DB_PASSWORD=changeme

DB_HOST=${DB_HOST}
DB_NAME=${DB_NAME}
DB_USER=${DB_USERNAME}
DB_PASSWORD=${DB_PASSWORD}

POSTGRES_DB=${DB_NAME}
POSTGRES_USER=${DB_USER}
POSTGRES_PASSWORD=${DB_PASSWORD}

PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=${DB_PASSWORD}
PGADMIN_CONFIG_SERVER_MODE="False"
PGADMIN_CONFIG_SERVER_NAME="pgAdmin 4"
PGADMIN_CONFIG_DEFAULT_SERVER=${DB_HOST}
PGADMIN_CONFIG_DEFAULT_SERVER_PORT="5432"
PGADMIN_CONFIG_DEFAULT_USERNAME=${PGADMIN_DEFAULT_EMAIL}
PGADMIN_CONFIG_DEFAULT_PASSWORD=${PGADMIN_DEFAULT_PASSWORD}