PROJECT_NAME="birthday-buddy"

COMPOSE_PROJECT_NAME=${PROJECT_NAME}

UI_SERVICE_PORT=3000
API_SERVICE_PORT=5000

APP_PROJECT_PATH="/frontend/apps/${COMPOSE_PROJECT_NAME}-app"
PROXY_PROJECT_PATH="/backend/services/proxy/${COMPOSE_PROJECT_NAME}-proxy"
API_PROJECT_PATH="/backend/apis/${COMPOSE_PROJECT_NAME}-api"

PROTOCOL="http"
DOMAIN="localhost"
