PROJECT_NAME="hello-nodejs-w-mongodb"

COMPOSE_PROJECT_NAME=${PROJECT_NAME}

API_PROJECT_PATH="/backend/apis/${COMPOSE_PROJECT_NAME}-api"

NODE_PORT=5000

MONGO_VERSION=8.0

# MongoDB: Should be changed with the regarding values --------------------------------
MONGO_USERNAME=root
MONGO_PASSWORD=example
MONGO_HOSTNAME=mongodb-database-service

# MongoDB: Should be changed with the regarding values --------------------------------
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=example

# MongoDB LOCAL: Should be changed with the regarding values --------------------------------
MONGO_PORT=27017
MONGO_DB=hello-nodejs-w-mongodb
DATABASE_LOCAL_URI="mongodb://${MONGO_USERNAME}:${MONGO_PASSWORD}@${MONGO_HOSTNAME}:${MONGO_PORT}/${MONGO_DB}?authMechanism=DEFAULT&authSource=admin"

# for local development
MONGODB_COMPASS_URI="mongodb://${MONGO_USERNAME}:${MONGO_PASSWORD}@localhost:${MONGO_PORT}/${MONGO_DB}?authMechanism=DEFAULT&authSource=admin"

# MongoDB ATLAS(Remote): Should be changed with the regarding values --------------------------------
MONGODB_ATLAS_USERNAME="xxx"
MONGODB_ATLAS_PASSWORD="xxx"
DATABASE_ATLAS_URI="mongodb+srv://${MONGODB_ATLAS_USERNAME}:${MONGODB_ATLAS_PASSWORD}@paulserbanstudycluster.vlmlrpg.mongodb.net/?retryWrites=true&w=majority"

# IF you want to use the local database, you should use the following line
DATABASE_URI=${DATABASE_LOCAL_URI}