PROJECT_NAME="aws-getting-started-with-lambda"
COMPOSE_PROJECT_NAME=${PROJECT_NAME}
# API_PROJECT_PATH="/backend/apis/${COMPOSE_PROJECT_NAME}-api"
# UI_PROJECT_PATH="/frontend/apps/${COMPOSE_PROJECT_NAME}-app"

AWS_ACCESS_KEY=localstack
AWS_SECRET_KEY=localstack

TF_VAR_aws_access_key=${AWS_ACCESS_KEY}
TF_VAR_aws_secret_key=${AWS_SECRET_KEY}