PROJECT_NAME="profiles"
COMPOSE_PROJECT_NAME=${PROJECT_NAME}

API_PROJECT_PATH="/backend/apis/${COMPOSE_PROJECT_NAME}-api"

DB_HOST=postgresql-database
DB_NAME=devdb
DB_USER=devuser
DB_PASSWORD=changeme

POSTGRES_DB=${DB_NAME}
POSTGRES_USER=${DB_USER}
POSTGRES_PASSWORD=${DB_PASSWORD}