PROJECT_NAME="hello-payload-cms"
COMPOSE_PROJECT_NAME=${PROJECT_NAME}

PORT=3000

NODE_ENV=development

CMS_PROJECT_PATH="/backend/cms/${COMPOSE_PROJECT_NAME}-cms"

DATABASE_URI=file:./sqlite.db

PAYLOAD_SECRET=
