PROJECT_NAME="hello-nginx-proxy"

COMPOSE_PROJECT_NAME=${PROJECT_NAME}

API_SERVICE_PORT=5000

API_PROJECT_PATH="/backend/apis/${COMPOSE_PROJECT_NAME}-api"
PROXY_PROJECT_PATH="/backend/services/proxy/${COMPOSE_PROJECT_NAME}-proxy"

PROTOCOL="http"
DOMAIN="localhost"
